<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        $if$ ($targetframeworkversion$ >= 4.0)<supportedRuntime version="v4.0" sku=".NETFramework,Version=v$targetframeworkversion$" />$endif$$if$ ($targetframeworkversion$ < 4.0)<supportedRuntime version="v2.0.50727" />$endif$
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          $if$ ($targetframeworkversion$ >= 4.0)<bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0"/>
          <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0"/>
          <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0"/>
          $else$<bindingRedirect oldVersion="2.0.0.0" newVersion="2.3.0.0" />$endif$
        </dependentAssembly>
      </assemblyBinding>
    </runtime>	
</configuration>